.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.full-width {
    width: 100%!important;
}

.row.new_letter_search {
    text-align: center;
    width: 20%;
}

@media (max-width: 768px) {
    .row.new_letter_search {
        width: 100%;
    }
}

.flex.new_letter_search {
    align-items: center;
    justify-content: flex-end;
    padding: 2%;
}

.title {
    text-align: center;
    color: white;
    padding: 7% 0;
    font-size: 32px;
    font-family: Raleway, sans-serif;
}

.flex.img_header {
    align-items: center;
    justify-content: center;
}

.img_header img {
    height: 200px;
}

.navigation {
    font-size: 20px;
    font-weight: 100;
    margin: 0 auto;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 100px;
    padding: 0 10%;
    padding-bottom: 4%;
}

.navigation a {
    color: white;
}

