/**
        Greetings css
 */
img.greetings {
    height: 200px;
}

.flex.horizontal.greetings {
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
    color: black;
    min-height: 400px;
    flex-wrap: wrap;
}

.flex.column.greetings.img {
    align-items: center;
}

.flex.column.greetings > .content {
    text-align: justify;
}

.flex.column > .head {
    min-height: 100px;
}

.flex.horizontal.greetings > div {
    width: 33.333%;
    padding: 0 2%;
}

/**
        SignupForm css
 */

.main.signupform {
    height: 150px;
    background-color: lightgrey;
}

.flex.signupform {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 70%;
    margin-left: 10%;
    padding: 50px 0;
}

.envelope {
    background: url('../img/letter.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 32px;
}

.subscribe {
    font-weight: 100;
    font-size: 26px;
}

input.signupform.text {
    width: 240px;
    height: 38px;
}

/**
        Posts css
 */


/**
        Questions css
 */

.flex.questions {
    background-color: #201600;
    color: white;
    padding: 30px 0 19px 40px;
}

.flex.questions_rules {
    align-items: flex-end;
    flex-wrap: wrap;
}

.flex.questions_rules > div {
    margin: 0 15px;
}

.ask_a_question {
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 100;
}

.sveta_portrait > img {
    height: 190px;
}

.flex.questions_slider {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/**
        Library css
 */



@media (max-width: 768px) {
    /**
        Greetings css
    */
    .flex.horizontal.greetings > div {
        width: 100%;
    }

    .flex.column.greetings {
        align-items: center;
    }

    /**
        SignupForm css
    */
    .main.signupform {
        height: fit-content;
    }
}