/**
        Greetings css
 */
img.greetings {
    height: 200px;
}

.flex.horizontal.greetings {
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
    color: black;
    min-height: 400px;
    flex-wrap: wrap;
}

.flex.column.greetings.img {
    align-items: center;
}

.flex.column.greetings > .content {
    text-align: justify;
}

.flex.column > .head {
    min-height: 100px;
}

.flex.horizontal.greetings > div {
    width: 33.333%;
    padding: 0 2%;
}

/**
        Posts css
 */

div.post_row {
    margin: 25px 0;
}

div.post.flex.column {
    height: 200px;
    width: 20%;
    word-break: break-all;
    text-align: justify;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

div.post > img {
    height: 200px;
}

div.flex.typeTitle {
    width: 100%;
    justify-content: space-between;
}

span.post_title {
    color: black;
    font-style: oblique;
}

abbr, abbr[title], div.post_tags {
    max-width: 70%;
}

abbr, abbr[title]  {
    text-decoration: none;
    border: none;
    cursor: default;
}

div.post_new {
    min-width: 32px;
    color: red;
}

div.post_content {
    height: 100px;
    overflow: -webkit-paged-y;
    overflow: paged-y-controls;
}

div.flex.postFooter {
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

div.views_num, div.comments_num {
    color: red;
    padding-left: 2px;
}

div.views_img, div.comments_img {
    width: 16px;
}

div.views_img > img, div.comments_img > img {
    width: 100%;
}

div.post_tags {
    color: black;
    font-size: 12px;
    height: 22px;
    overflow: -webkit-paged-y;
    text-overflow: ellipsis;
    overflow: paged-y-controls;
}


    /**
            Questions css
     */

.flex.questions {
    background-color: #201600;
    color: white;
    padding: 30px 0 19px 40px;
}

.flex.questions_rules {
    align-items: flex-end;
    flex-wrap: wrap;
}

.flex.questions_rules > div {
    margin: 0 15px;
}

.ask_a_question {
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 100;
}

.sveta_portrait > img {
    height: 190px;
}

.flex.questions_slider {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/**
        Library css
 */

.flex.library {
    background-color: #afaeae;
    padding: 25px 0;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex.column.library_search {
    align-items: flex-start;
    padding: 0 40px;
}

.flex.column.library_filter {
    align-items: center;
    padding: 0 60px;
}

.library_word {
    font-size: 24px;
    color: black;
    font-weight: 100;
}

.library_letters {
    font-size: 40px;
    font-weight: bold;
    color: #666;
    letter-spacing: 9px;
}

/**
        Announces css
 */

.flex.announces {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}


.announces_label {
    color: black;
    font-size: 32px;
    font-weight: 200;
    margin-top: 40px;
}

.web-lessons {
    background: #e2e2e2;
    margin: 20px 20px 0 0;
}

.web-lessons_picture > img {
    padding: 40px 130px 60px 130px;
    height: 300px;
}

.web-lessons > .flex.column {
    align-items: center;
    justify-content: space-around;
}

.web-lessons_label {
    color: #495274;
}

.web-lessons_archive {
    margin-top: 60px;
    background: #e5e6e7;
    text-align: center;
    color: #7f7d7c;
    font-size: 26px;
    padding: 20px 0;
}

.web-lessons_archive:hover {
    text-decoration: none;
    color: #e5e6e7;
    background: #7f7d7c;
}

.web-lessons_archive:focus {
    text-decoration: none;
    background: #e5e6e7;
    color: #7f7d7c;
}

/**
        Charity css
*/

.flex.main.charity {
    justify-content: center;
}

.flex.column.charity {
    align-items: center;
    justify-content: space-between;
}

.charity_text {
    font-size: 14px;
    color: black;
    line-height: 1.2;
    font-weight: bold;
    padding: 40px 0 20px 0;
}

.charity_image {
    padding: 20px 0 10px 0;
}

.charity_image > img {
    width: 320px;
}

@media (max-width: 768px) {
    /**
        Greetings css
    */
    .flex.horizontal.greetings > div {
        width: 100%;
    }

    .flex.column.greetings {
        align-items: center;
    }

    /**
        Announces css
    */

    .flex.announces {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}