form {
    width: 80%;
}
.form_wrapper {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
}

div.tags-result {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

div.cool_tag {
    padding: 2px;
    background-color: #eeeeee;
    margin: 0 2px;
}